@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply inline-flex items-center rounded-md px-4 py-2 font-medium;
}
.btn-primary {
  @apply btn bg-plum text-white hover:bg-indigo-600;
}
.btn-secondary {
  @apply btn bg-mint text-white hover:bg-emerald-600;
}
